.search__input {
  color: #7e7e7e;

  background-color: #ffffff;

  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.search__input:focus {
  outline: none;
  border: 1px solid #ff5555;
}

.search__input:disabled {
  color: #7e7e7e;
  background-color: #f9f9f9;
  border: 1.5px solid #d9d9d9;
}

.search__input::placeholder {
  align-items: center;

  color: #7e7e7e;
}

.search__input:focus::placeholder {
  color: #000000;
  opacity: 1;
}

.search__input:disabled::placeholder {
  visibility: hidden;
}
